<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
	<test name="Game">
		<classes>
			<class name="epam.com.game.GameTest" />
		</classes>
	</test>
 
	<test name="Players">  
		<classes>
			<class name="epam.com.game.players.ComputerTest" />
			<class name="epam.com.game.players.HumanTest" />
		</classes>
	</test>
 
</suite>